    {{#hasblocks}}
        <i id="sidepreopen-control"
            aria-expanded="{{#draweropenright}}true{{/draweropenright}}{{^draweropenright}}false{{/draweropenright}}"
            aria-controls="sidepre-blocks"
            data-action="toggle-drawer"
            data-side="right"
            data-preference="sidepre-open"
            title="{{#str}} showhideblocks, theme_moove {{/str}}">
        </i>

        <section id="sidepre-blocks" data-region="blocks-column" class="hidden-print">
            {{{ sidepreblocks }}}
        </section>
    {{/hasblocks}}

    {{{ output.standard_after_main_region_html }}}

    {{#hasdrawertoggle}}
        {{> theme_moove/nav-drawer }}
    {{/hasdrawertoggle}}
</div><!-- Ends .page-wrapper -->

{{> theme_moove/footer }}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);

require(['theme_boost/drawer'], function(mod) {
    mod.init();
});

require(['jquery'], function($) {
    // Robust accordion toggle for navigation drawer submenus (My Courses / Course sections)
    $('#nav-drawer').on('click', '.has-arrow', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var $btn = $(this);
        var $li = $btn.closest('li');
        var $sub = $li.children('ul');
        var isExpanded = $li.hasClass('active') || $btn.attr('aria-expanded') === 'true';

        if (isExpanded) {
            $li.removeClass('active');
            $btn.attr('aria-expanded', 'false');
            $sub.stop(true, true).slideUp(200);
        } else {
            $li.addClass('active');
            $btn.attr('aria-expanded', 'true');
            $sub.stop(true, true).slideDown(200);
        }
    });

    // Auto-expand submenu if it contains an active item
    $('#nav-drawer .has-arrow').each(function() {
        var $btn = $(this);
        var $li = $btn.closest('li');
        var $sub = $li.children('ul');
        if ($sub.find('.active').length > 0) {
            $li.addClass('active');
            $btn.attr('aria-expanded', 'true');
            $sub.show();
        }
    });
});

require([], function() {
    var iconsearch = document.querySelector('.moove-search-input .slicon-magnifier');
    var btnclosesearch = document.querySelector('.search-input-form .close-search');
    var searchinputform = document.querySelector('.moove-search-input');

    if (iconsearch) {

        var togglesearchinputform = function() {
            searchinputform.classList.toggle('expanded');
        }

        iconsearch.onclick = togglesearchinputform;
        btnclosesearch.onclick = togglesearchinputform;
    }
});

require(['theme_moove/accessibilitybar'], function(bar) {
    bar.init();
});

require(['theme_moove/themesettings'], function(themesettings) {
    themesettings.init();
});

{{/js}}
